<div class="title-wrapper">
  <div class="container">
    <div class="title-content">
      <div>
        <h2>clich&eacute;.</h2>
        <small>&nbsp;
          <span class="text-muted">est 2013</span>
        </small>
      </div>
      <div></div>
      <div id="nav" class="text-muted">
        <h2>&nbsp;</h2>
        <a href="#">story</a> &bull;
        <a href="#">app</a> &bull;
        <a href="#">contact</a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="grid-wrapper">
    <div class="grid-item" id="box1">
      <div class="grid-desc">
        <p>overpriced.table</p>
        <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>

    <div class="grid-item" id="box2">
      <div class="grid-desc">
        <p>awesome.drive </p>
        <p class="subtitle">Lorem ipsum dolor.</p>
      </div>
    </div>

    <div class="grid-item" id="box3">
      <div class="grid-desc">
        <p>cause.hipster</p>
        <p class="subtitle">Lorem ipsum dolor.</p>
      </div>
    </div>

    <div class="grid-item" id="box4">
      <div class="grid-desc">
        <p>more.nature</p>
        <p class="subtitle">Lorem ipsum dolor.</p>
      </div>
    </div>

    <div class="grid-item" id="box5">
      <div class="grid-desc">
        <p>fussy.coffee</p>
        <p class="subtitle">Lorem ipsum dolor sit amet, consectetur.</p>
      </div>
    </div>

    <div class="grid-item" id="box6">
      <div class="grid-desc">
        <p>self.reflection</p>
        <p class="subtitle">Lorem ipsum dolor sit amet.</p>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>

<div class="description-wrapper" id="aboutUs">
  <br>
  <div class="container">
    <div class="description-content">
      <div class="text-box">
        <h2>
          <span class="inverse-text">awe</span>
          <span class="inverse-text">some</span>
        </h2>
        <p>we do awesome stuff. and overcharge for it, cause our 4 year track record and stuff.</p>
      </div>
      <div class="pop-out-wrapper">
        <div id="pop-out-1">
          <div>- about us -</div>
          <div class="underline"></div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>

<div id="icon-wrapper">
  <br>
  <br>
  <div id="icon-container">
    <div class="icon-content">

      <div class="icon-grid" id="icon-grid1">
        <div class="icon-flex text-right icon-left">
          <div class="icon icon1">
            <i class="fa fa-pencil" size="64"></i>
          </div>
        </div>
        <div class="icon-text">
          <h4 class="pinkt">measured</h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi cum libero quam ducimus reiciendis
          sapiente nostrum quod aliquid odit aspernatur.</div>
      </div>

      <div class="spacer" id="spacer1"></div>

      <div class="icon-grid" id="icon-grid2">
        <div class="icon-text text-right">
          <h4 class="bluet">organized</h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe alias unde, laborum dolorem earum
          repudiandae animi ab hic, ipsum harum esse, soluta recusandae distinctio deserunt!</div>
        <div class="icon-flex icon-right">
          <div class="icon icon2">
              <i class="fa fa-cubes"></i>
          </div>
        </div>
      </div>

      <div class="spacer" id="spacer2"></div>

      <div class="icon-grid" id="icon-grid3">
        <div class="icon-flex text-right  icon-left">
          <div class="icon icon3">
            <i class="fa fa-globe"></i>
          </div>
        </div>
        <div class="icon-text">
          <h4 class="greent">worldwide</h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius consequuntur nesciunt dicta! Aliquid
          quaerat earum incidunt asperiores, inventore hic, vero veniam natus neque.</div>
      </div>

    </div>
  </div>
  <br>
  <br>
</div>
<footer>
  <div class="container">
    <br>

    <div class="footer-content">
      <div>
        <div>
          <h4>learn</h4>
          <div class="underline"></div>
        </div>
        <ul>
          <li>
            <a href="#">lorem</a>
          </li>
          <li>
            <a href="#">lorem</a>
          </li>
          <li>
            <a href="#">lorem</a>
          </li>
        </ul>
      </div>
      <div>
        <div>
          <h4>connect</h4>
          <div class="underline"></div>
        </div>
        <br>
        <div class="footer-top">
          <div id="socials">
            <div id="fb">
              <i class="fa fa-facebook"></i>
            </div>
            <div id="yt">
              <i class="fa fa-youtube"></i>
            </div>
            <div id="twit">
              <i class="fa fa-twitter"></i>
            </div>
          </div>
          <div class="flex1"></div>
        </div>
      </div>
      <div>
        <div>
          <h4>contact</h4>
          <div class="underline"></div>
        </div>
        <ul>
          <li>
            <a href="#">lorem</a>
          </li>
          <li>
            <a href="#">lorem</a>
          </li>
          <li>
            <a href="#">lorem</a>
          </li>
        </ul>
      </div>
    </div>

  </div>
  <div class="footer-content-2">
    <div class="container">
      <br>
      <h2 class="inline-block">cliché.</h2>
      <p class="inline-block">&emsp;&emsp;
        <small>&copy; 2017</small>
      </p>
      <br>
      <br>
    </div>
  </div>
</footer>