.footer {
    width: 100%;
    height: 100%;
    line-height: 5rem;
    margin: auto auto;
    padding: 1.5rem 0px;
}

footer {
    margin: auto auto;
    padding: 1.5rem 0px;
    background-color: #404040;
    color: #999;
    width: 100%;
    font-size: .85em;
    text-align: center;
}

.social span {
    padding-left: 16px;
}

.social a {
    text-decoration: none;      
}

.fa {
    padding-right: 2px;
}